@page
@model AboutModel

@{
    ViewData["Title"] = "About Big Star Collectibles";
}
<h1>About our courses and companies.</h1>
<div>


	<div class="card col-lg-8 mx-auto">
		<div class="card-header">
			<strong>Big Star Collectibles</strong>
		</div>
		<div class="card-body">
			<p>Founded in 2012, Big Star Collectibles is the premier online retailer of trading card and other collectibles. If your hobby is collecting, we've got the stock you want.</p>
			<p>
				We have the largest inventory of fan favorite items on the web.  And if we don't have it, ask us and our elite <em>Star Hunter</em> team will search the galaxy for your special treasure.
			</p>
		</div>

	</div>

	<div class="card col-lg-8 mx-auto">
		<div class="card-header">
			<strong>LiL' Monsters</strong>
		</div>
		<div class="card-body">
			<p>
				There’s not one of the Lil’ Monsters that intentionally try to scare anyone. From the founding of their community, they unanimously agreed that there was no reason for scaring anyone just because  other monsters do. Of course, they aren’t perfect and occasionally evoke an “Eek!!” anyway. Still, all Lil’ Monsters are embraced and celebrated no matter how many eyes, horns, heads, hands, or spikes they have.
			</p>
		</div>

	</div>
	<div class="card col-lg-8 mx-auto">
		<div class="card-header">
			<strong>Binaryville Robots</strong>
		</div>
		<div class="card-body">
			<p>
				On the edge of the world stands the progressive town of Binaryville, where technology is a way of life. The robots who live, work, and play in Binaryville learn from an early age that magic is made simply by combining 0's and 1's. For the Binaryville robots, every waking thought and every sleeping dream is consumed with unique permutations… and endless possibilities.

				This is our happy place, and we invite the dreamers, thinkers, and inventors of the world to unite in our passion for building something out of nothing. (Well, nothing plus 1.) Visit Binaryville and let your imagination soar!


			</p>
		</div>

	</div>
	<div class="card col-lg-8 mx-auto">
		<div class="card-header">
			<strong>Stargazers Aliens</strong>
		</div>
		<div class="card-body">
			<p>
				The Stargazers are members of an intergalactic alliance paving the way for peace and benevolence among all species. They are known for their enthusiasm for science, for their love of fun, and their dedication to education. They each share a love of travel, especially guiding others in the alliance in tours of their home galaxies. All enjoy exchanging folklore and histories of each, as well as trying one another’s mode of transport and favorite foods.


			</p>
		</div>

	</div>
		<div class="card col-lg-8 mx-auto">
		<div class="card-header">
			<strong>About this education brand</strong>
		</div>
		<div class="card-body ">
			<p><strong style="background-color:antiquewhite">Big Star Collectibles, Binaryville Robots, Stargazers Aliens and LiL' Monsters</strong> are fictitious companies created by <a href="https://www.linkedin.com/">LinkedIn Corporation, or its affiliates</a>, solely for the creation and development of <a href="https://www.linkedin.com/learning/">educational training materials</a>. Any resemblance to real products or services is purely coincidental. Information provided about the products or services is also fictitious and should not be construed as representative of actual products or services on the market in a similar product or service category.</p>
		</div>
	</div>
</div>

