@page
@model AboutModel
<style>
  h1{
	color:darkorange;
	}
	strong
	{
	background-color:antiquewhite;
	}
</style>
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

	<div class="card col-lg-8 mx-auto">
		<div class="card-header">
			Privacy, how we protect your data.
		</div>
		<div class="card-body">
			The <strong>following privacy policy</strong>(“Privacy Policy”) sets forth our policy with respect to information, including personally identifiable data (“Personal Data”) and other information, we collect from visitors to the our website
			
		</div>

	</div>

